.single {
  padding: 105px 60px 165px;
  color: white;
  background-color: black;
  display: flex;
}

@media (max-width: 768px) {
  .single {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.single .breadcrumb {
  position: absolute;
  font-size: 20px;
}

@media (max-width: 768px) {
  .single .breadcrumb {
    font-size: 16px;
  }
}

.single .breadcrumb .breadcrumb-list {
  display: flex;
  position: relative;
  bottom: 85px;
}

.single .breadcrumb .breadcrumb-item span {
  margin-right: 10px;
}

.single .breadcrumb .breadcrumb-item a {
  color: white;
  text-decoration: underline;
  margin-right: 10px;
}

.single .single-section {
  width: 100%;
}

.single .single-section .inner .category {
  font-size: 14px;
  width: 120px;
  height: 30px;
  background-color: #4d0000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.single .single-section .inner .main {
  font-size: 36px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .single .single-section .inner .main {
    font-size: 30px;
  }
}

.single .single-section .entry {
  display: flex;
}

@media (max-width: 768px) {
  .single .single-section .entry {
    display: block;
  }
}

.single .single-section .single-entry {
  margin-right: 60px;
}

@media (max-width: 768px) {
  .single .single-section .single-entry {
    margin-right: 0px;
  }
}

.single .single-section .single-entry .info {
  display: flex;
}

.single .single-section .single-entry .sns {
  width: 120px;
  height: 40px;
  background-color: #00aced;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 3px;
  letter-spacing: 2px;
}

.single .single-section .single-entry .sns a {
  font-size: 20px;
  color: white;
}

.single .single-section .single-entry .sns i {
  margin-right: 10px;
}

.single .single-section .single-entry .time {
  font-size: 24px;
  position: relative;
  top: 10px;
  margin-left: 510px;
}

@media (max-width: 768px) {
  .single .single-section .single-entry .time {
    margin-left: 200px;
    font-size: 16px;
    position: relative;
    top: 20px;
  }
}

.single .single-section .single-entry .body .text {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #030f55;
}

.single .single-section .single-entry .body .text h2 {
  font-size: 36px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .single .single-section .single-entry .body .text h2 {
    font-size: 28px;
  }
}

.single .single-section .single-entry .body p {
  font-size: 24px;
}

@media (max-width: 768px) {
  .single .single-section .single-entry .body p {
    font-size: 18px;
  }
}

.single .single-section .single-entry .body h3 {
  font-size: 26px;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 35px;
}

.single .single-widget .widget-relative .title-w {
  background-color: #030f55;
  margin-bottom: 30px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .single .single-widget .widget-relative .title-w {
    margin-top: 50px;
  }
}

.single .single-widget .widget-relative .title-w h3 {
  font-size: 21px;
}

.single .single-widget .widget-relative .item {
  margin-bottom: 40px;
}

.single .single-widget .widget-relative .item a {
  display: inline-block;
  display: flex;
}

.single .single-widget .widget-relative .item .image img {
  width: 100px;
  height: 70px;
}

@media (max-width: 768px) {
  .single .single-widget .widget-relative .item .image img {
    width: 150px;
    height: 100px;
  }
}

.single .single-widget .widget-relative .item .title {
  color: white;
  font-size: 12px;
  text-decoration: underline;
  line-height: 2;
  margin-left: 17px;
  width: 152px;
}

@media (max-width: 768px) {
  .single .single-widget .widget-relative .item .title {
    width: 300px;
  }
}
